.checkoutProduct_info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.checkoutProduct {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct_info {
  padding-left: 20px;
  padding-right: 20px;
}

.checkoutProduct > img {
  object-fit: contain;
  padding: 10px;
  width: 180px;
  height: 180px;
}
.checkoutProduct_title {
  font-size: 17px;
  font-weight: 800;
}

.checkout_toggle {
  display: flex;
  align-items: center;
}
